.container {
    width: 71%;
    margin-top: 1%
}

p.font-weight-bold {
    text-align: center;
    font-size: 146%;
}

div#accordion {
    margin-top: 4%;
}


p#perfil {
    font-size: 192%;
    margin-top: 9%;
}

.panel.panel-default {
    margin-top: 3%;
}


button.btn.btn-danger {
    margin-left: 6%;
}

div#accionPerfil {
    text-align: center;
    margin-top: 2%;
}

.card {
    width: 101%;
    margin-left: -1%;
    margin-top: 3%;
}

