<!DOCTYPE  html>
<html>

<head>

  <meta charset="utf-8">
  <title> Curriculom</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <link rel="icon" type="image/png" href="https://previews.123rf.com/images/ylivdesign/ylivdesign1710/ylivdesign171001798/87385395-lupa-sobre-el-curr%C3%ADculum-vita-icon-digital-red.jpg" />




</head>

<body>

    

  <div class="container">
    <div id="TitleTable">
      <p class="text-center" id="listaUsuarios"> <strong> Lista de Usuarios </strong></p>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Información Detallada</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <strong>Nombre: </strong> {{nombre}} {{apellido}} <br>

         <strong>Rol: </strong> {{nombreRol}} <br>
         <strong>Tipo Documento: </strong> {{nombreDocumento}} <br>
         <strong>Número Documento: </strong> {{numeroDocumento}} <br>
         <strong>Tiene a cargo: </strong> {{encargados.length}} Persona/s <br>
         <ul> 
           <li *ngFor="let item of encargado">
           <strong>Estos son: </strong> {{item.nombre}} {{item.apellido}} {{item.numeroDocumento}} <br>

          </li>

         </ul>
         


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Cerrar</button>
        </div>
      </ng-template>
      
      
      
     

   


    <form class="form-inline my-2 my-lg-0">

      <div id="busqueda">

        <input class="form-control mr-sm-2" name="identificador" type="search" placeholder="número documento"
          aria-label="Search" [(ngModel)]="identificador">

        <button class="btn btn btn-primary " type="button" data-toggle="collapse" (click)="obtenerUsuario(content)"
          aria-expanded="false" aria-controls="collapseExample">Buscar</button>






        <div class="collapse" id="collapseExample">
          <div class="card card-body">

          </div>
        </div>


      </div>


      <!-- Modal -->


    </form>

    <div id="tableScroll">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Acción</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let users of usuarios">
              <td> {{users.numeroDocumento}}</td>
              <td> {{users.nombre}}</td>
              <td> {{users.apellido}}</td>
              <td>

                <!-- <a [routerLink]="['/Admin/Actualizar_Usuario']" class="btn btn-success ml-3">Editar</a> -->

                <button class="btn btn-danger ml-3" (click)="delete(event, users)">Eliminar</button>
                <!-- <a [routerLink]="['/Admin/Añadir_Usuario']" class="btn btn-success ml-3">Agregar</a>-->
              </td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>




    <router-outlet> </router-outlet>


  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>





 

</body>



</html>