<!DOCTYPE  html>
<html>

<head>

  <meta charset="utf-8">
  <title> Curriculom</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <link rel="icon" type="image/png" href="https://previews.123rf.com/images/ylivdesign/ylivdesign1710/ylivdesign171001798/87385395-lupa-sobre-el-curr%C3%ADculum-vita-icon-digital-red.jpg" />




</head>

<body>
  <p>
    <a [routerLink]="['/Login']" class="btn-primary mr-3"> Vamos a Login</a>
  </p>





  <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
          </tr>

    </thead>
    <tbody>
      <tr *ngFor="let users of usuarios">
        <td> {{users.Identificador}}</td>
        <td> {{users.nombre}}</td>
        <td> {{users.apellido}}</td>
        <a [routerLink]="['/Actualizar_Usuario']" class="btn btn-primary ml-3">Editar</a>

        <button class="btn btn-danger ml-3" (click)="delete(event, users)">Eliminar</button>
        <a [routerLink]="['/Añadir_Usuario']" class="btn btn-success ml-3">Agregar</a>

      </tr>

    </tbody>
  </table>

  


  <router-outlet> </router-outlet>




</body>

</html>