<!DOCTYPE  html>
<html>

<head>

  <meta charset="utf-8">
  <title> Curriculom</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <link rel="icon" type="image/png" href="https://previews.123rf.com/images/ylivdesign/ylivdesign1710/ylivdesign171001798/87385395-lupa-sobre-el-curr%C3%ADculum-vita-icon-digital-red.jpg" />




</head>

<body>

<div class="container">  
<div id="TitleTable">   
  <p class="text-center"id="listaUsuarios"> <strong> Lsita de Usuarios</strong></p>
</div>

<div id="tableScroll"> 

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Acción</th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let users of usuarios">
        <td> {{users.Identificador}}</td>
        <td> {{users.nombre}}</td>
        <td> {{users.apellido}}</td>
        <td> <a [routerLink]="['/Admin/Actualizar_Usuario']" class="btn btn-primary ml-3">Editar</a>

          <button class="btn btn-danger ml-3" (click)="delete(event, users)">Eliminar</button>
          <a  [routerLink]="['/Admin/Añadir_Usuario']" class="btn btn-success ml-3">Agregar</a>
        </td>

      </tr>

    </tbody>
  </table>

</div>




  <router-outlet> </router-outlet>


</div>  


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>