<!DOCTYPE  html>
<html>

<head>

  <meta charset="utf-8">
  <title> Curriculom</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <!-- iconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <link rel="icon" type="image/png" href="https://previews.123rf.com/images/ylivdesign/ylivdesign1710/ylivdesign171001798/87385395-lupa-sobre-el-curr%C3%ADculum-vita-icon-digital-red.jpg" />




</head>

<body>



  <form>
    <div class="container">
      <div>
        <p id="perfil" class="text-center"> <strong>Información Personal</strong></p>
      </div>

      <div class="panel panel-default">

        <div class="form-group row">
          <label for="example" class="col-2 col-form-label">Nombre</label>
          <div class="col-10">
            <input class="form-control" type="text" name="nombre" value="{{nombre}}" placeholder="Ingrese su nombre" id="example"
              [(ngModel)]="nombre">
          </div>
        </div>

        <div class="form-group row">
          <label for="texto" class="col-2 col-form-label">Apellido</label>
          <div class="col-10">
            <input class="form-control" type="text" name="apellido" value="{{apellido}}" placeholder="Ingrese su apellido"
              id="texto" [(ngModel)]="apellido">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-url-input" class="col-2 col-form-label">Número Documento</label>
          <div class="col-10">
            <input class="form-control" type="url" name="numeroDocumento " value="{{numeroDocumento}}" placeholder="Ingrese su número de documento"
              id="example-url-input" [(ngModel)]="numeroDocumento">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-url-input" class="col-2 col-form-label">Tipo Documento</label>
          <div class="col-10">
            <select name="tipodcoumento1" [(ngModel)]="tipodcoumento1" class="form-control">
              <option *ngFor="let tpd of tipoDocumentos" value="{{tpd.idTipoDocumento}}">{{tpd.nombreDocumento}}</option>

            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="cuenta" class="col-2 col-form-label">Correo</label>
          <div class="col-10">
            <input type="email" class="form-control" name="correo" value="{{correo}}" id="exampleInputEmail1"
              aria-describedby="emailHelp" placeholder="Ingrese su correo" [(ngModel)]="correo">
          </div>
        </div>

        <div class="form-group row">
          <label for="example-password-input" class="col-2 col-form-label">Clave</label>
          <div class="col-10">
            <input class="form-control" type="password" value="" id="example-password-input" placeholder="Ingrese la clave">
          </div>
        </div>

        

        <div class="form-group row">
          <label for="example-date-input" class="col-2 col-form-label">Fecha nacimiento</label>
          <div class="col-10">
            <input class="form-control" name="fechaNacimiento" type="date" value="21-12-2017" id="example-date-input" [(ngModel)]="correo">
          </div>
        </div>

      </div>

      <div id="accionPerfil" mx-4>
        <button type="button" class="btn btn-success">Guardar</button>
      </div>

    </div>
  </form>


</body>

</html>