p#perfil {
    font-size: 192%;
    margin-top: 9%;
}

.panel.panel-default {
    margin-top: 3%;
}

.container {
    margin-top: -5%;
}

div#accionPerfil {
    text-align: center;
}

button.btn.btn-danger {
    margin-left: 6%;
}