.navbar-custom{
	background-color: #2C3E50 !important;
    color:black;
}






i.fas.fa-user-circle {
    width: 37%;
    height: 36%;
    font-size: 249%;
    color: #2C3E50;
}


mat-sidenav.example-container.mat-drawer.mat-sidenav.ng-tns-c3-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted 
{
  background: #2c3e50 !important;
  color: white;
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}









  
  .navbar-primary {
    background-color: #333;
    bottom: -74%;
    left: 0px;
    position: fixed;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }


  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
      position: absolute;
      display: block;
      left: 0px;
      bottom:0;
      width: 100%;
      padding: 8px 0;
      border-top:solid 1px #666;
      color: grey;
      font-size: 20px;
      text-align: center;
  }
  
  .btn-expand-collapse:hover,
  .btn-expand-collapse:focus {
      background-color: #222;
      color: white;
  }
  
  .btn-expand-collapse:active {
      background-color: #111;
  }
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }