<form (ngSubmit)="updateUser()">
    
  
  
  <div class="container">

<div> <p class="font-weight-bold">Editar Usuarios.</p></div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre</label>
          <input type="text" name="nombre" class="form-control" id="inputEmail4" placeholder="Inserte su nombre"
            [(ngModel)]="nombre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Identificación</label>
          <input type="number" name="identificador" class="form-control" id="inputPassword4" placeholder="Inserte su ID"
            [(ngModel)]="identificador">
        </div>
      </div>
      <div class="form-group ">
        <label for="inputAddress">Apellido</label>
        <input type="text" name="apellido" class="form-control" id="inputAddress" placeholder="Inserte su apellido"
          [(ngModel)]="apellido">
      </div>
      <button type="submit" class="btn btn-primary">Editar</button>
      
  
    </div>
  
  
  </form>
